@media (max-width: 900px) {
    .logo {
        width: 35%;
        height: 200px;
        
    }
    .menu {
        width: 63%;
        height: 200px;
        margin-bottom: 15px;
    }

    .info {
        width: 100%;
        margin: 0px 0px;
    }

    .main { 
        width: 46%;
        margin: 1% 2% 1% 2%;
    }

    .footer {
        margin-top: 5px;
    }

    .info-inside-2 {
        background: white;
        width: 25%;
        height: 150px;
        margin: -15.7% 1% 0% 1%;
        
    }
} 
@media (max-width: 680px) {

    .main { 
        width: 96%;
        margin: 1% 2% 1% 2%;
    }
    .footer {
        margin-top: 5px;
    }
    p {
        align-items: center;
        margin-inline-start: 3px;
        margin-block-start: 6px;
    }    
    
    .buttom { 
            width: 35%;
            height: 35px;
            margin: 3% 7%;
            background: aqua;
            text-align: center;
            border-radius: 10px;
    
        }
    
    .img    {
            width: 30%;
            height: 75px;
            margin: 3% 32%;
            background: rgb(20, 46, 46);
        }

        .info-inside-2 {
            background: white;
            width: 25%;
            height: 150px;
            margin: -16.7% 1% 0% 1%;
            
        }
}