.wrap {
    margin: 0px auto;
    width: 850px;
    height: 850px;
    
    
}
div {
    font-weight: bold;
    font-size: 25px;
    
   }
   .img {
       width: 98px;
       height: 98px;
   }
.size {
    width: 98px;
    height: 98px;
    border: 1px solid rgb(0, 0, 0);
    
    
}

.size-2 {
    width: 25px;
    height: 100px;
    text-align: center;
    position: relative;
    bottom: -35px;
    
    
    
   }
.size-3 {
    width: 100px;
    height: 25px;
   
    text-align: center;
}
.size-4 {
        width: 25px;
        height: 25px;
       
    }

    .black {
        background-image: url(img/022.png);
    }

    .white {
        background-image: url(img/023.png);
        
    }

.col {
    margin-left: 25px;
    margin-top: -850px;
}
.col-2 {
    margin-left: 125px;
    margin-top: -850px;
}
.col-3 {
    margin-left: 225px;
    margin-top: -850px;
    
}
.col-4 {
    margin-left: 325px;
    margin-top: -850px;
    
}
.col-5 {
    margin-left: 425px;
    margin-top: -850px;
    
}
.col-6 {
    margin-left: 525px;
    margin-top: -850px;
    
}
.col-7 {
    margin-left: 625px;
    margin-top: -850px;
    
}
.col-8 {
    margin-left: 725px;
    margin-top: -850px;
    
}
.col-9 {
    margin-left: 825px;
    margin-top: -850px;
    
}
.col-10 {
    margin-left: 925px;
    margin-top: -850px;
    
}
.top {
    padding-top: 5px;
}